.button{
    -fx-background-color: #412aff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-padding: 8px 16px 8px 16px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 8, 0, 0, 0);
    -fx-cursor: hand;
}

.button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 18, 0, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}