.text-input {
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
    -fx-padding: 8px 4px 8px 4px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
}

.text-input:hover {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.2), 12, 0, 0, 0);
}

.text-input:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 12, 0, 0, 0);
}

.error > .text-input {
    -fx-border-color: #ff0000;
}

.error > .input-label {
    -fx-text-fill: #ff0000;
}

.error > .error-label {
    -fx-text-fill: #ff0000;
    -fx-font-size: 10px;
}

.error > .select-input {
    -fx-border-color: #ff0000;
    
}

.select-input {
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
    -fx-padding: 4px 8px 4px 8px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
}

.select-input:hover {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.2), 12, 0, 0, 0);
}