.background {
    -fx-background-color: rgba(0, 0, 0, 0.5);


}

.x-button {
    -fx-padding: 8px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-max-height: 32px;
    -fx-max-width: 32px;
    -fx-background-color: #ffffff;
    -fx-border-width: 0px;

}

.main-content {
    -fx-spacing: 16px;
}

.modal {
    -fx-background-radius: 24px;
    -fx-border-radius: 24px;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1px;
    -fx-padding: 24px 24px 24px 24px;
    -fx-max-width: 400px;
    -fx-min-width: 0px;
    -fx-fit-to-height: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 20, 0, 0, 0);
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-max-height: 600px;

    -fx-spacing: 16px;
}

.modal-title {
    -fx-font-weight: 500;
    -fx-font-size: 36px;

}