.container{
    -fx-alignment: center;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    -fx-border-radius: 24px 0px 0px 0px;
    -fx-background-radius: 24px 0px 0px 0px;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-min-height: 0px;
    -fx-min-width: 0px;
    -fx-max-height: 96px;
    -fx-max-width:246px;
    -fx-padding: 8px;
}

.navbar-icon{
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
    -fx-padding: 16px;
    -fx-cursor: hand;
}

.navbar-tooltip{
    -fx-background-color: #ffffff;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}